/*.modal__content { -----for image container, needed?
  width: 100%;
  min-height: 330px;
  box-sizing: border-box;
}*/

/*@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
}*/
